<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">

<head>
<title>Show Student</title>
</head>

<body>
	<div layout:fragment="content">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<table class="table table-striped"> 
		
				<thead> 
					<tr> 
						<th>#</th> 
						<th>Name</th> 
						<th>Major</th> 
						<th>University</th> 
					</tr> 
				</thead> 
				<tbody> 

					<tr th:each="student : ${students}">
						<td th:text="${student.ID}">Mark</td> 					
						<td th:text="${student.name}">Mark</td> 
						<td th:text="${student.major}">Otto</td> 
						<td th:text="${student.university}">@mdo</td> 
					</tr>				


				</tbody> 
			</table>
		</div>
		<div class="col-xs-4"></div>
	</div>
	</div>

	</div>
</body>

</html>
